<ion-header no-border>
  <ion-navbar transparent>
    <ion-title class="center">
      Sensor Data Reading
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item color="dark" no-lines>
    <p class="center">Location</p>
  </ion-item>

  <div padding>
    <div class="center">
      <ion-chip>
        <ion-label>Select Location here to check for sensors data</ion-label>
      </ion-chip>
    </div>
<br>
  
  <ion-item id="rounded">
    <ion-label>Location: </ion-label>
    <ion-select value="Please Choose.." okText="Select" cancelText="Cancel" (ionChange)="setDeviceValue(location_id)" [(ngModel)]="location_id">
      <div *ngFor="let loc of fetch_location"><ion-option value="{{loc.id}}">{{loc.location_name}}</ion-option></div>
    </ion-select>
  </ion-item>

<ion-item id="rounded" *ngIf="selectedDevice">
  <ion-label>Devices: </ion-label>
  <ion-select value="Please Choose.." okText="Select" cancelText="Cancel" (ionChange)="setData(device_id)" [(ngModel)]="device_id"> <!--(ionChange)="setType_Value(device_id)"-->
    <div *ngFor="let dev of selectedDevice"><ion-option value="{{dev.sensor_ID}}">{{dev.sensor_ID}} </ion-option></div>
  </ion-select>
</ion-item>

<ion-item id="rounded" *ngIf="selectedDevice">
  <ion-label>Start Date and Time</ion-label>
  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="startDateTime"></ion-datetime>
</ion-item>

<ion-item id="rounded" *ngIf="selectedDevice">
  <ion-label>End Date and Time</ion-label>
  <ion-datetime displayFormat="YYYY-MM-DD HH:mm" [(ngModel)]="endDateTime"></ion-datetime>
</ion-item>
<!--
<form [formGroup]="form" ionChange="onChange($event)">
<ion-item-group>
  <ion-item-divider color="light">Location</ion-item-divider>
  <ion-item>
    <ion-select formControlName="location" value="Please Choose.." okText="Select" cancelText="Cancel">
      <div *ngFor="let loc of fetch_location"><ion-option value="{{loc.id}}">{{loc.location_name}}</ion-option></div>
    </ion-select>
  </ion-item>
</ion-item-group>
</form> -->
<!--
<div *ngFor="let button of buttons">
 <div (click)="go({record: button})">
    <button ion-button  class="round" block color="light">{{button.location_name}}</button>
 </div>
</div> -->

<!--
<br>
<button ion-button  class="round" block color="light" (click)="go2()">LRT Cahaya Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go3()">LRT Cempaka Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go4()">LRT Pandan Indah Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go5()">LRT Pandan Jaya Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go6()">LRT Maluri Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go7()">LRT Miharja Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go8()">LRT Awan Besar Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go9()">LRT Pasar Seni Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go10()">LRT Subang Jaya Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go11()">KL Monorail Raja Chulan Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go12()">KL Monorail Maharajalela Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go13()">MRT Stadium Kajang Station</button>
<br>
<button ion-button  class="round" block color="light" (click)="go14()">MRT Maluri Station</button>
<br><br>-->

<div *ngFor="let data of fetch_data">
  <h2>X : {{data.X}}  Y: {{data.Y}}  Z : {{data.Z}}</h2><br>
</div>