page-login {
    
    ion-content{
        
        background: #ebf0ebe1 !important;
    }
.bg {
    background:linear-gradient(to bottom, #904779 0% #fff)
}
h2 {
    font-size:30px;
    font-weight:bold;
    text-align:center;
    color:rgb(16, 84, 148);
    font-family: "Times New Roman", Times, serif; 
}

.alertcss{
    color:#e74c3c;
    //Any other style you wish to apply/
    }

div{
    text-align: center;
}

div.margin{
    margin-top: 1cm;
}
}
