page-login {
    /*ion-content {
      background: #e4e0cf !important;
    }*/
    .bg{
   
      background: url("../assets/imgs/bg1.jpg") no-repeat center center fixed;
      background-repeat: no-repeat;
       background-size: cover;
       display: block;
       margin-left: auto;
       margin-right: auto
    }
  
    div {
      text-align: center;
    }
  
    div.margin {
      margin-top: 0cm;
    }
  
    ion-card {
      border-radius: 10px !important;
      font-family: "Verdana", Times, serif;
    }
  
    ion-card-header {
      border-radius: 15px !important;
    }
  
    ion-button {
      border-radius: 0px !important;
    }
  
    .card-fixed {
      height: 20%;
    }
    h6 {
      font-size: 10px;
      font-weight: bold;
      text-align: justify;
      color: #0b0c0c;
      font-family: "Georgia", Times, serif;
    }
  
    h2 {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #10425a;
      font-family: "Nunito", Times, serif;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    h3 {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color:  #141414;
      font-family: "Nunito", Times, serif;
    }
    h1 {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color:  #1f4e3d;
      font-family: "Nunito", Times, serif;
      padding-left: 22px;
      padding-right: 22px;
      text-align: justify;
    }
  
    .red {
      color: #a50071a2;
    }
  
    .circle {
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border:6px solid #ffffff;
      background-color:rgb(255, 255, 255);
    }
  
    .absolute{
        position: absolute;
     
      
    }
  
    .pos{
        top: -10px;
        
    }
    
  }
  