page-contact {
  .bg {
    background: url("../assets/imgs/bg1.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  div {
    text-align: center;
  }
  ion-card {
    border-radius: 10px !important;
    
  }
  ion-card-header {
    border-radius: 15px !important;
  }
  .card-fixed {
    height: 20%;
  }
  div.margin {
    margin-top: 1cm;
  }

  #map {
    width: auto;
    height: 40%;
  }
  h6 {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #10425a;
    
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #10425a;
  
    padding-left: 20px;
    padding-right: 20px;
  }
  h3 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color:  #0c724b;
   
  }
  h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:  #1f4e3d;
   
    padding-left: 22px;
    padding-right: 22px;
    text-align: justify;
  }
  h4 {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: #10425a;

  }
  .pos{
    top: -10px;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    
    
}

.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    
    margin-top: 10px;
    //border:6px solid #ffffff;
    //background-color:rgb(255, 255, 255);
  }

  .absolute{
    position: absolute;
 
  
}


}
