<ion-header no-border>
 <br>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="notiPage()">
        <ion-icon name="alert"></ion-icon>
      </button>
    </ion-buttons> -->
  
</ion-header>


<ion-content class="bg" padding>



  <div class="pos">
    <div >
      <img class="center" width = 280px height=150px src="../assets/imgs/logo.jpg">
    </div>
    <br>
    <br>
  
    
      <ion-title class="center1">
        Device Alert Notification
      </ion-title>
     

    <!-- <ion-card color="tertiary" class="border">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ion-card> -->

    <ion-card *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: p }" class="border" padding>



      <div *ngIf="item.type == 'Heavy'">
        <div class="te">
          <ion-row>
            <ion-col col-5>
              <p class="bold3">{{item.location_name}} (No.{{item.No}})</p>
              <p class="xsmall">Sensor:{{item.read_type}}</p>
              <p class="xsmall">Asset:{{item.e_name}}</p>
            </ion-col>
            <ion-col class="right">
              <ion-chip class="heavy">
                <ion-label>
                  Heavy
                </ion-label>
              </ion-chip>
              <p>
                {{(item.dateTime)?.substring(8,10)}}/{{(item.dateTime)?.substring(5,7)}}/{{(item.dateTime)?.substring(0,4)}}
              </p>
              <p class="xxsmall">Sensor ID :{{item.sensor_ID}}</p>          
              <p class="xxsmall">Reading Value :{{item.read_val}}</p>
            </ion-col>
          </ion-row>
        </div>
        <div>
          <h2 class="bold3">Description :</h2>
          <p>
            {{item.message}}
          </p>
        </div>
      </div>

      <div *ngIf="item.type == 'Moderate'">
        <div class="te">
          <ion-row>
            <ion-col col-5>
              <p class="bold3">{{item.location_name}} (No.{{item.No}})</p>
              <p class="xsmall">Sensor:{{item.read_type}}</p>
              <p class="xsmall">Asset:{{item.e_name}}</p>
            </ion-col>
            <ion-col class="right">
              <ion-chip class="moderate">
                <ion-label>
                  Moderate
                </ion-label>
              </ion-chip>
              <p>
                {{(item.dateTime)?.substring(8,10)}}/{{(item.dateTime)?.substring(5,7)}}/{{(item.dateTime)?.substring(0,4)}}
              </p>
              <p class="xxsmall">Sensor ID :{{item.sensor_ID}}</p>
            </ion-col>
          </ion-row>
        </div>
        <div>
          <h2 class="bold3">Description :</h2>
          <p>
            {{item.message}}
          </p>
        </div>
      </div>

      <div *ngIf="item.type == 'Critical'">
        <div class="te">
          <ion-row>
            <ion-col col-5>
              <p class="bold3">{{item.location_name}} (No.{{item.No}})</p>
              <p class="xsmall">Sensor:{{item.read_type}}</p>
              <p class="xsmall">Asset:{{item.e_name}}</p>
            </ion-col>
            <ion-col class="right">
              <ion-chip class="critical">
                <ion-label>
                  Critical
                </ion-label>
              </ion-chip>
              <p>
                {{(item.dateTime)?.substring(8,10)}}/{{(item.dateTime)?.substring(5,7)}}/{{(item.dateTime)?.substring(0,4)}}
              </p>
              <p class="xxsmall">Sensor ID :{{item.sensor_ID}}</p>
            </ion-col>
          </ion-row>
        </div>
        <div>
          <h2 class="bold3">Description :</h2>
          <p>
            {{item.message}}
          </p>
        </div>
      </div>


    </ion-card>
  </div>

    <br>
    <br>
</ion-content>
<ion-card color="tertiary" class="float">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ion-card>