page-data45 {
    /*ion-content {
      background: #e4e0cf !important;
    }*/
    .bg{
   
      background: url("../assets/imgs/bg1.jpg") no-repeat center center fixed;
      background-repeat: no-repeat;
       background-size: cover;
       display: block;
       margin-left: auto;
       margin-right: auto
    }
    .border {
      border-radius: 10px !important;
      
    }
  
    .size{
        width: 70px;
          height: 70px;
      }
    .moderate {
      background-color: #ffff00;
    }
  
    .heavy {
      background-color: #ffa500;
    }
  
    .critical {
      background-color: #ff0000;
    }
  
    .bold {
      font-weight: bold;
      
    }
  
    .bold2 {
      font-weight: bold;
      margin-left: auto !important;
      margin-right: auto !important;
      
    }
  
    .bold3 {
      font-weight: bold;
      font-size: 14px;
    
    }
  
    .left {
      text-align: left;
    }
  
    .te {
      font-size: 30px;
      font-weight: bold;
      text-align: left;
      color: #10425a;
      
    }
  
    .right{
        text-align: right
    }
  
  
    .white{
      color: #ffffff;
    }
  
    .small{
      font-size: 13px;
      
    }
  
    .xsmall{
      font-size: 10px;
    }
  
    .center{
      left: auto !important;
      right: auto !important;
    }
  
    .center1{
      text-align: center
    }
  
    .float{
      position: absolute;
      bottom: 55px;
      text-align: center;
      border-radius: 10px;
    }
  }
  
  
    div {
      text-align: center;
    }
  
    div.margin {
      margin-top: 0cm;
    }
  
ion-header {
    color : #3c5c99
}

    ion-card {
      border-radius:50px !important;
    
      font-family: "Verdana", Times, serif;
    }
  
    ion-card-header {
      border-radius: 15px !important;
    }
  
    ion-button {
      border-radius: 10px !important;
      width: 80px;
      text-align: centre;
    }
  
    .card-fixed {
      height: 10%;
    }
    h6 {
      font-size: 10px;
      font-weight: bold;
      text-align: justify;
      color: #0b0c0c;
      
    }
  
    h2 {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      color: #10425a;
      
      padding-left: 20px;
      padding-right: 20px;
    }
  
    h3 {
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      color:  #0c724b;
    
    }
    h1 {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color:  #1f4e3d;
     
      padding-left: 22px;
      padding-right: 22px;
      text-align: justify;
    }
  
    .block {
      width: 330px;
      height: 40px;
      border-radius: 15px;
  text-align: centre;
  margin-left:40px;
  color:  #0f1e25;
  }
    .red {
      color: #a50071a2;
    }
  
    .circle {
      width: 120px;
      height: 120px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      border:6px solid #ffffff;
      background-color:rgb(255, 255, 255);
    }
  
    .absolute{
        position: absolute;
     
      
    }
  
    .pos{
        top: -10px;
        
    }
    
  
  